<module name="simpleHttpClient" runtimeProfile="rt" vendor="ChesapeakeControls" version="1.0.0">
  <dependencies>
    <dependency module="baja"/>
    <dependency module="nre"/>
  </dependencies>
  <palettes>
    <!-- Workbench reads this palette file from the JAR root -->
    <palette name="CHttp" file="module.palette"/>
  </palettes>
</module>
